# Data Analysis with Python

## Module 1 - Introduction

#### **Introduction to Data Analysis with Python**
We learn if is possible to estimate the price of used car based on its characteristics.

#### **The problem**
DataScience/data analysis helps to answer questions from data.

Data Analysis role is:
- Discovering information
- Answering questions
- Predicting future

In this particular case of car prices, we are going to answer the question: how much money should be a car sell for?

In order to determinate the best price we can answer more question like:
- Is there data on the prices of other cars and their characteristics?
- What features of cars affect their prices?, Colour?, Brand?
- Does horsepower also affect the selling price, or perhaps, something else?

#### **Understanding the Data**

Loading the data

In [1]:
import pandas as pd
import numpy as np

In [15]:
# Car atribbutes 

names_auto = ["symboling",
 "normalized_losses",
 "make",
 "fuel_type",
 "aspiration",
 "doors",
 "body_style",
 "drive_wheels",
 "engine_location",
 "wheel_base",
 "length",
 "width",
 "height",
 "curb_weigth",
 "engine_type",
 "cylinders",
 "engine_size",
 "fuel_system",
 "bore",
 "stroke",
 "compression_ratio",
 "horsepower",
 "peak_rpm",
 "city_mpg",
 "highwway_mpg",
 "price"
 ]

In [14]:
autos = pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/autos/imports-85.data", names=names_auto)
autos.head()

,symboling,normalized_losses,make,fuel_type,aspiration,doors,body_style,drive_wheels,engine_location,wheel_base,...,engine_size,fuel_system,bore,stroke,compression_ratio,horsepower,peak_rpm,city_mpg,highwway_mpg,price
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450

#### **Python Packages for Data Science**

In [17]:
# Scientifics computing libraries
import pandas as pd   #-- datastructures & tools
import numpy as np    #-- arrays and matrices
import scipy          #-- integrals, optimization, differential equations
  

# Visualization libraries
import matplotlib.pyplot as plt  #-- most popular for plots & graphs
import seaborn as sns            #-- plots


# ML algorithm libraries
import sklearn         #-- machine learning: regression, classifications, etc
import statsmodels     #-- to explore data, estimate models and permform statistical tests

#### **Importing and Exporting Data in Python**

Importing: Process of loading and reading data. We must to consider 2 important propieties:
- Format (.csv,.xlsx,.json,etc)
- File path (computer, internet)

In [20]:
df = pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/autos/imports-85.data", names=names_auto)
df.head() # first rows of df
#df.tail() #last rows

,symboling,normalized_losses,make,fuel_type,aspiration,doors,body_style,drive_wheels,engine_location,wheel_base,...,engine_size,fuel_system,bore,stroke,compression_ratio,horsepower,peak_rpm,city_mpg,highwway_mpg,price
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450

In [23]:
# import / export

# df.read_excel() / df.to_excel()
# df.read_sql() / df.to_sql()
# df.read_csv() / df.to_csv()

#### **Getting Started Analyzing Data in Python** 

Understanding data before analysis

We need to check data types for detecting pontential incorrect assigment data. The data types is: 

Pandas type ---> Native Python  
Object --> string  
int64  --> int  
float64 --> float  
datetime64,timedelta[ns] --> datetime

In [24]:
# checking datetupes
df.dtypes

symboling              int64
normalized_losses     object
make                  object
fuel_type             object
aspiration            object
doors                 object
body_style            object
drive_wheels          object
engine_location       object
wheel_base           float64
length               float64
width                float64
height               float64
curb_weigth            int64
engine_type           object
cylinders             object
engine_size            int64
fuel_system           object
bore                  object
stroke                object
compression_ratio    float64
horsepower            object
peak_rpm              object
city_mpg               int64
highwway_mpg           int64
price                 object
dtype: object

In [25]:
# statistical summary
df.describe()

,symboling,wheel_base,length,width,height,curb_weigth,engine_size,compression_ratio,city_mpg,highwway_mpg
count,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000
mean,0.834146,98.756585,174.049268,65.907805,53.724878,2555.565854,126.907317,10.142537,25.219512,30.751220
std,1.245307,6.021776,12.337289,2.145204,2.443522,520.680204,41.642693,3.972040,6.542142,6.886443
min,-2.000000,86.600000,141.100000,60.300000,47.800000,1488.000000,61.000000,7.000000,13.000000,16.000000
25%,0.000000,94.500000,166.300000,64.100000,52.000000,2145.000000,97.000000,8.600000,19.000000,25.000000
50%,1.000000,97.000000,173.200000,65.500000,54.100000,2414.000000,120.000000,9.000000,24.000000,30.000000
75%,2.000000,102.400000,183.100000,66.900000,55.500000,2935.000000,141.000000,9.400000,30.000000,34.000000
max,3.000000,120.900000,208.100000,72.300000,59.800000,4066.000000,326.000000,23.000000,49.000000,54.000000

In [26]:
# including full summary
df.describe(include="all")

,symboling,normalized_losses,make,fuel_type,aspiration,doors,body_style,drive_wheels,engine_location,wheel_base,...,engine_size,fuel_system,bore,stroke,compression_ratio,horsepower,peak_rpm,city_mpg,highwway_mpg,price
count,205.000000,205,205,205,205,205,205,205,205,205.000000,...,205.000000,205,205,205,205.000000,205,205,205.000000,205.000000,205
unique,NaN,52,22,2,2,3,5,3,2,NaN,...,NaN,8,39,37,NaN,60,24,NaN,NaN,187
top,NaN,?,toyota,gas,std,four,sedan,fwd,front,NaN,...,NaN,mpfi,3.62,3.40,NaN,68,5500,NaN,NaN,?
freq,NaN,41,32,185,168,114,96,120,202,NaN,...,NaN,94,23,20,NaN,19,37,NaN,NaN,4
mean,0.834146,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,98.756585,...,126.907317,NaN,NaN,NaN,10.142537,NaN,NaN,25.219512,30.751220,NaN
std,1.245307,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.021776,...,41.642693,NaN,NaN,NaN,3.972040,NaN,NaN,6.542142,6.886443,NaN
min,-2.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,86.600000,...,61.000000,NaN,NaN,NaN,7.000000,NaN,NaN,13.000000,16.000000,NaN
25%,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,94.500000,...,97.000000,NaN,NaN,NaN,8.600000,NaN,NaN,19.000000,25.000000,NaN
50%,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,97.000000,...,120.000000,NaN,NaN,NaN,9.000000,NaN,NaN,24.000000,30.000000,NaN
75%,2.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,102.400000,...,141.000000,NaN,NaN,NaN,9.400000,NaN,NaN,30.000000,34.000000,NaN
max,3.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,120.900000,...,326.000000,NaN,NaN,NaN,23.000000,NaN,NaN,49.000000,54.000000,NaN

In [27]:
# summaru od dataset
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 26 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   symboling          205 non-null    int64
 1   normalized_losses  205 non-null    object
 2   make               205 non-null    object
 3   fuel_type          205 non-null    object
 4   aspiration         205 non-null    object
 5   doors              205 non-null    object
 6   body_style         205 non-null    object
 7   drive_wheels       205 non-null    object
 8   engine_location    205 non-null    object
 9   wheel_base         205 non-null    float64
 10  length             205 non-null    float64
 11  width              205 non-null    float64
 12  height             205 non-null    float64
 13  curb_weigth        205 non-null    int64
 14  engine_type        205 non-null    object
 15  cylinders          205 non-null    object
 16  engine_size        205 non-null    int64
 17  fuel_system        205 non-null    object
 18  bore               205 non-null    object
 19  stroke             205 non-null    object
 20  compression_ratio  205 non-null    float64
 21  horsepower         205 non-null    object
 22  peak_rpm           205 non-null    object
 23  city_mpg           205 non-null    int64
 24  highwway_mpg       205 non-null    int64
 25  price              205 non-null    object
dtypes: float64(5), int64(5), object(16)
memory usage: 41.8+ KB